
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
  --primary-color: #FF9000;
  --primary-light:#ffc06e;
  --secosecondary-color:#38B5B6;
  --secosecondary-light-color:#f1fff7;
  --text-color-black:#15141400;
  --text-color-white:rgb(239, 239, 239);
  }
  
  body{
    background:var(--secosecondary-light-color) !important;
    font-family: "Lato", sans-serif;
  }
  .heading{
font-size: 25px;
font-weight: 600 !important;
  }
.author-name , .get-to-know .fa{

  font-size: 17px !important;
font-weight: 600 !important;
}
.book-name{
  margin-top: 10px;
  text-align: center;
  font-size: 17px !important;
font-weight: 600 !important;
}
  .paragraph{
    line-height: 23px;
    font-size: 14px
  }
  .get-to-know{
    font-size: 15px;
  }
  
  
  input{
    min-width: 250px;
    height: 33px;
    padding: 10px;
  }
  
  a:link {
    text-decoration: none!important;
  
  }
  
  .pagination button{
    background:var(--primary-color);
    border: none;
    min-width: 35px;
    height: 35px;
    border-radius: 100px;
    font-weight: 700 !important;
    transition: all 0.5s ease-in-out;
  }
  .pagination button:hover{
  background:var(--primary-light);
  box-shadow: 0 0 15px #e1b070;
  border: 1px var(--primary-color) solid;
  transform: scale(1.07);
  }

  .item-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content:center;
    align-items: center;
  }
  
  .item ,.home-authors {
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    gap: 50px !important;
    text-align: center;
  
  }
  
  .item .author-img-div{
    width: 300px;
    height: 350px;
    overflow: hidden;
    
    border-radius: 30px 0px 30px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 1s ease-in-out;
  }
  .author-img-div img{
    width: 100%;
    object-fit: cover !important;
    transition: all 1s ease-in-out;
  }
  .author:hover .author-img-div{
    border-radius: 0px 30px 0px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
  }
  .author:hover .author-img-div img{
    object-fit: cover !important;
  transform: scale(1.1) !important;
  }
  
  .arrow-btn{
    background:transparent;
    border: none;
  }
  
  .fa-arrow-circle-right{
    color: var(--primary-color);
  }
  
  .item-content {
    flex: 1;
  }
  
  .title {
    margin: 0;
    font-size: 16px;
  }
  
  .name {
    margin-bottom: 5px;
    font-style: italic;
  }
  
  .no-items {
    margin-top: 10px;
    font-size: 25px !important;
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }


  /* ----------------------------author info style----------------------------------- */
  #authorInfo{
    width: 100%;
    min-height: 600px;
}
.author_img{
    background: #000;
    width: 400px;
    height: 500px;
    border-radius: 300px !important;
    
}
.author_details{
    width: 600px;
}
.author_img img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    border-radius: 300px !important;
}


.social_media a i{
    font-size: 30px;
    color: var(--primary-color);
    /* margin-left: 15px; */
    padding-right: 15px;
}

.author-book-heading{
 text-align: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  column-gap: 1rem;
  color: var(--primary-color);
  font-size:clamp(15px,4vw,20px);
  letter-spacing: 0px;
  font-weight:560;
}

.author-book-heading::before,.author-book-heading::after{
  content: "";
  height: 2.5px;
  /* width: 300px; */
  background-color: var(--primary-light);
  display: block;
}
.book-img{
  background: #000;
  width: 289px;
  height: 448px;
  border-radius: 5px;
}
.book-img a img{
  width: 100% !important;
  border-radius: 5px;
  object-fit: cover !important;
}

/* -------------------------------------author-home-------------------------- */
.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(220px * 30);
  animation: scroll 60s linear infinite;
}

.slide {
  width: 220px;
  height: 270px;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-80%); }
}

.slide .img-alt {
  position: absolute;
  bottom: 10px;
  text-align: center !important;
  width: 220px;
font-size: 15px;
font-weight: 600;
  color: #fff;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out ;
}

.slide:hover .img-alt {
  visibility: visible;
  opacity: 1;
}

.see-all{
color: var(--text-color-white);
font-weight: 500;
min-width:120px;
padding: 7px;
border-radius: 5px;
background: var(--primary-color);
border: none !important;
transition: all 1s ease-in-out;
}
.see-all:hover{
 color: #000;
  background:transparent;
  border: solid 1px  #FF9000 !important;
  box-shadow: 0 0 15px  #FF9000;;
  }

/* ------------------------------media-quary--------------------------------- */
@media screen and (max-width:680px) {
  .slide {
    width: 170px;
    height: 200px;
    position: relative;
  }

  .item .author-img-div{
    width: 280px;
    height: 320px;
   
  }
  .slide-track {
    display: flex;
    width: calc(170px * 30);
    animation: scroll 53s linear infinite;
  }
  .item ,.home-authors {
   gap: 20px !important;
  
  }
}